body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

/*Header style*/
header h1 {
    font-weight: 300;
    font-size: 50px;
}

header h4 {
    font-size: 25px;
    font-weight: 300;
}

/*Divider style*/
hr {
    border-width: 4px;
    border-top-color: #7d97ad;
}

/*Main content style*/
.featured-work {
    color: #7d97ad;
    margin-left: 1em;
}

.project-link {
    text-decoration: none !important;
    color: #2d3c49;
    cursor: pointer;
}

.project-name {
    color: #2d3c49;
}

.project-name:hover {
    color: #7d97ad;
}